* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../images/fondo_de_pantalla.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    margin: auto;
    margin-top: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor__todo {
    width: 100%;
    max-width: 800px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.caja__trasera_rol {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 128, 255, 0.5);
}


.contenedor {
    background-color: rgba(0, 102, 255, 0.5); /* Color azul con transparencia */
    backdrop-filter: blur(10px); /* Aplica el difuminado */
    padding: 20px;
    border-radius: 10px; /* Bordes redondeados */
}